---
layout: page
title: "Bookshelf"
permalink: /bookshelf/
redirect_from:
  - /
---
<ul class="posts-list">
{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  {% for post in site.categories[cat] %}
    {% if post.shelf == true %}
      <li class="card">
        <a href="{{ post.url | prepend: site.baseurl }}" src="{{ post.img }}">
          <img src="{{ post.img }}" style="width:100%">
        </a>
      </li>
    {% endif %}
  {% endfor %}


{% endfor %}
  </ul>
<br>
